#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  h1 {
    width: 1388px;
    align-self: center;
    color: #3B3B3B;
    font-size: 48px;
    line-height: 48px;
    margin-top: 46px;
    margin-bottom: 46px;
  }
}

#game-link {
  display: ruby;
  width: 500px;
  height: 50px;
  background: #E1E1E1;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 46px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  #link-text {
    width: 80%;
    height: 50px;
    padding: 0px;
    border-radius: 8px 0px 0px 8px;
    border: none;
    background-color: inherit;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
  }

  #copy-button {
    width: 20%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    font-weight: 400;
    color: #F7F7F7;

    background: #CB6E17;
    border-radius: 0px 8px 8px 0px;

    float: right;
  }

  #copy-button:hover {
    cursor: pointer;
  }
}

#board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1388px;
  height: 402px;
  background: #FEEDD3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  align-self: center;
}

#game-board {
  width: 100%;
  display: grid;
  grid-template-columns: 167px 167px 167px 167px 167px 167px 167px 167px;
  grid-template-rows: 167px 167px;
  place-content: center;
}

.player-store {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 152px;
  height: 319px;

  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  place-self: center;
}

#player1-store {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

#player2-store {
  grid-column-start: 8;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3;
}

.square {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 152px;
  height: 152px;

  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  place-self: center;
}

.stone {
  width: 92px;
  height: 92px;

  font-size: 48px;
  line-height: 92px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 100%;
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow .25s;

  text-decoration: none;
}

.clickable:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25);
  transition: box-shadow .25s;
  cursor: pointer;
}

@media only screen and (max-width: 780px) {
  #game-link {
    margin-top: 10px;
    width: 300px;
    height: 30px;

    #link-text {
      font-size: 12px;
    }
  
    #copy-button {
      font-size: 16px;
    }
  }

  #game-container h1 {
    width: 100%;
    font-size: 24px;
  }

  #board-container {
    width: 230px;
    height: 550px;
  }

  #game-board {
    grid-auto-flow: column;
    place-content: space-evenly;
    grid-template-columns: 68px 68px;
    grid-template-rows: 68px 68px 68px 68px 68px 68px 68px 68px;
  }

  .player-store {
    width: 176px;
    height: 60px;
  }

  #player1-store {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  #player2-store {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .square {
    width: 60px;
    height: 60px;
  }

  .stone {
    width: 40px;
    height: 40px;

    font-size: 24px;
    line-height: 40px;

    cursor: pointer;
  }
}